@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-king-blue: #0088cc;
  --color-king-deep-blue: #004b7c;
  --color-king-orange: #ff6600;
  --color-king-white: #ffffff;
}

body {
  @apply bg-king-deep-blue text-white font-sans antialiased;
}
